.own-container {
    background: #ccce00;
    padding: 100px 0 100px 0;
}

h1{
    color: black;
    font-size: 9vw;
    font-weight: bolder;
}

h2{
    color: white;  
    font-size: 7vw;  
    font-weight: 100;
}
